<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      img {
         width: 100%;
         height: auto;
      }
   </style>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<form class="upload-form" method="post" action='/rating?_id=<%=_id %>' enctype="multipart/form-data">
score: <input type="text" name="score" minlength=1><br>
        <input type="submit">
        </form>
    </div>
</html>