<!DOCTYPE html><html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body><div class="w3-container w3-green">    
<form class="upload-form" method="post" action="/create" enctype="multipart/form-data">
	Restaurant name: <input type="text" name="name" minlength=1><br>
	Borough: <input type="text" name="borough" minlength=1><br>
	Cuisine: <input type="text" name="cuisine" minlength=1><br>
	Photo: <input type="file" name="photoToUpload"><br>
	<h3>address:</h3>
	Street: <input type="text" name="street" minlength=1><br>
	Building: <input type="text" name="building" minlength=1><br>
	Zipcode: <input type="text" name="zipcode" minlength=1><br>
	<h3>Coord:</h3> 
	lat<input type="text" name="lat" minlength=1><br>
	lon<input type="text" name="lon" minlength=1><br>
	
<input type="submit">
</form>
</div></body></html>    
